<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>
    <link th:rel="stylesheet" th:href="@{/static/css/login.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/{v}/css/bootstrap.min.css(v=${bootstrapVersion})}">
</head>

<body>

    <main class="form-signin">

        <form method="post" th:action="@{/register}" th:object="${user}">
            
            <h1 class="h3 mb-3 fw-normal">Registrazione</h1>

            <div class="form-label">
                <label for="name">Nome</label>
                <input type="text" th:field="*{name}" th:required="required" class="form-control" id="name" />
            </div>
            <div class="form-label">
                <label for="surname">Cognome</label>
                <input type="text" th:field="*{surname}" th:required="required" class="form-control" id="surname" />
            </div>
            <div class="form-label">
                <label for="email">Email</label>
                <input type="text" th:field="*{email}" th:required="required" class="form-control" id="email" />
            </div>
            <div class="form-label">
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" th:required="required" class="form-control" id="password" />
            </div>
            <div class="form-label">
                <label for="birthday">Data di nascita (GG-MM-AAAA)</label>
                <input type="text" th:field="*{birthday}" th:required="required" class="form-control" id="birthday" />
            </div>

            <hr/>

            <button class="w-50 btn btn-lg btn-primary" type="submit">Vai!</button>

            <p><br/><a th:href="@{/login}">Oppure Entra</a></p>

        </form>
        

        <!-- errori di validazione -->
        <div class="alert alert-warning alert-dismissible fade show" th:if="${errors!=null}" th:each="error: ${errors}">
            Errore: il valore
            <i><span th:text="${error.getRejectedValue()}"></span></i>
            non è ammesso per il campo <i><span th:text="${error.getField()}"></span></i>
        </div>
        <!-- errore DB -->
        <div class="alert alert-danger alert-dismissible fade show" th:if="${error!=null}">
            <b>Errore DB: <span th:text="${error}"></span></b>
        </div>

    </main>

    <script th:src="@{/webjars/bootstrap/{v}/js/bootstrap.bundle.min.js(v=${bootstrapVersion})}"></script>

</body>

</html>