<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body>
<div align="center">

    <h1>Registrazione</h1>

    <!-- errori di validazione -->
    <div th:if="${errors!=null}">
        <p th:each="error: ${errors}">
            <b>Errore: </b>
            <span th:text="${error.getRejectedValue()}"></span>
            <b> non è un valore accettabile per il campo </b>
            '<span th:text="${error.getField()}"></span>'
        </p>
    </div>

    <!-- errore DB -->
    <div th:if="${error!=null}">
        <b>Errore DB: <span th:text="${error.getMessage()}"></span></b>
    </div>

    <!-- form -->
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <label>Nome:</label>
        <input type="text" th:field="*{name}" th:required="required"/><br/>

        <label>Cognome:</label>
        <input type="text" th:field="*{surname}" th:required="required"/><br/>

        <label>E-mail:</label>
        <input type="text" th:field="*{email}" th:required="required"/><br/>

        <label>Password:</label>
        <input type="password" th:field="*{password}" th:required="required"/><br/>

        <label>Compleanno (GG-MM-AAAA):</label>
        <input type="text" th:field="*{birthday}"  th:required="required"/><br/>

        <button type="submit">Registrati</button>
    </form>

</div>
</body>
</html>